@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Source+Sans+Pro:wght@400;700;900&display=swap");

*,*:before,*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-feature-settings: "onum" 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;
  font-smooth: antialiased;
}

h1,h2,h3,h4 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: #333;
  font-weight: 400;
}

h4 {
  font-size: 1.45rem;
}

.bolded {
  font-weight: 500;
}

body {
  background: #FBFBFB;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.45rem;
  color: #666;
  padding: 0 1em;
}

header {
  float: left;
  width: 100%;
  clear: both;
  background: #FFFFFF;
  border-bottom: 12px solid #96bb32;
}

.header-top {
  position: relative;
}

.header-top .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  padding: 2rem 0;
}

.header-top .content:after {
  display: none;
}

.header-top .header-top--logo {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-top .header-top--links {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 0.5rem;
}

.header-top .header-top--links ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
}

.header-top .header-top--links li {
  margin: 0 0 0 2rem;
}

.header-top .header-top--links li:first-child {
  margin-left: 0;
}

.header-top .header-top--links a {
  text-decoration: none;
  color: #003150;
  transition: .15s ease all;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.header-top .header-top--links a:hover {
  color: #96bb32;
}

.subheader {
  display: block;
}

.subheader .subheader--image {
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  min-height: 180px;
  background: url(../images/1919-line-dots.jpg);
  background-size: cover;
  background-position: center center;
}

.subheader .subheader--tagline {
  -ms-flex: 1;
  flex: 1;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #003150;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 6%;
  width: 100%;
}

.subheader .subheader--tagline div {
  background: #fff;
  padding: 24px;
  text-align: center;
  position: relative;
}

.subheader .subheader--tagline h2 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  color: #003150;
  font-size: 1.5rem;
  padding: 0 0 0.5rem 0;
}

.subheader .subheader--tagline p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5rem;
}

.messaging {
  text-align: center;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0 .45rem;
}

.messaging h1,.messaging h2 {
  color: #FFFFFF;
}

.messaging h1 {
  line-height: 1.1rem;
  font-size: 2.25rem;
  font-style: italic;
  padding-bottom: .45rem;
}

.messaging h2 {
  font-size: 1.5rem;
  padding: .5em 0 0 0;
  font-family: 'PT Serif', serif;
  font-weight: 400;
}

.messaging p {
  font-size: 1.3rem;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  margin-left: 8.33333%;
}

.messaging .unstandard-ul {
  margin: auto;
  padding: 2rem 0;
}

.messaging .unstandard-ul i {
  display: none;
  color: #96bb32;
}

.messaging .unstandard-ul li {
  padding: 0 0 1rem 0;
  font-size: 1.4rem;
}

.bolded {
  font-weight: 600;
}

.centered {
  text-align: center;
}

a.link {
  font-weight: 600;
  text-decoration: none;
  color: #003150;
}

a.link:hover {
  text-decoration: underline;
}

h4 a {
  color: #333;
  text-decoration: none;
}

.navigation {
  width: 100%;
  float: left;
  text-align: center;
  padding: 1.25rem 0;
}

.menu li {
  border-right: 1px solid #7C94A4;
  position: relative;
}

.menu li:last-child {
  border-right: none;
}

.menu li a {
  color: #003150;
  text-decoration: none;
  padding: 0 .3rem;
  font-weight: 600;
}

.main {
  width: 100%;
  float: left;
}

.content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem 3rem 1.5rem;
}

.content:after {
  content: " ";
  display: block;
  clear: both;
}

.intro {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding: 1rem 0 1.5rem 0;
  text-align: center;
  border-bottom: 1px solid #E0E0E0;
}

.intro h3 {
  line-height: 2rem;
  color: #003150;
  padding: 1rem 0 1.65rem 0;
  font-size: 1.75rem;
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

.intro p {
  line-height: 1.75rem;
  font-size: 1.1rem;
}

.left-content {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding: 1em 0;
  border-bottom: 1px solid #E0E0E0;
}

.left-content p a {
  color: #333;
  text-decoration: none;
}

.left-content i {
  float: right;
}

.right-content {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding: 1rem 0;
}

.right-content i {
  float: right;
}

.company-content {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding: 0;
  color: #003150;
}

.company-content .company-content--summary,.company-content .compnay-content--contact {
  padding: 1.75rem 2.2rem;
}

.company-content .company-content--summary {
  background: rgba(150, 187, 50, 0.25);
  font-size: 1.1rem;
  font-style: italic;
}

.company-content .compnay-content--contact h3,.company-content .compnay-content--contact h4,.company-content .compnay-content--contact a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #003150;
}

.company-content .compnay-content--contact h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.company-content .compnay-content--contact h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.75rem;
}

.company-content .compnay-content--contact a {
  text-decoration: none;
}

.company-content .compnay-content--contact a:hover {
  text-decoration: underline;
}

.fund-info {
  box-sizing: border-box;
  width: 100%;
  float: left;
  border-bottom: 1px solid #E0E0E0;
}

#additional-info-box {
  border-right: none !important;
}

#additional-info-box h4 {
  padding: 0 0 1.25rem 0;
}

.white-popup {
  position: relative;
  background: #fff;
  padding: 20px;
  min-height: 300px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

.warning-popup h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 1.25rem 0;
  line-height: 2rem;
  color: #003150;
}

.warning-popup p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5rem;
}

.warning-popup p:nth-of-type(2) {
  padding-bottom: 1rem;
}

.warning-popup .button {
  background-color: #96bb32;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.warning-popup .button:hover {
  background-color: #003150;
}/* overlay at start */.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}/* overlay animate in */.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}/* overlay animate out */.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}/* content at start */.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}/* content animate it */.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}/* content animate out */.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.disclosure {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding: 2rem 0;
  font-weight: normal;
  font-size: 0.9rem;
}

.disclosure h4 {
  padding: 0 0 1rem 0;
}

.disclosure p {
  padding: .5rem 0;
}

footer {
  width: 100%;
  float: left;
  background: #3C3C3C;
  padding: 1.5em 0;
  font-size: .85rem;
}

.colophon {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #D4D4D4;
}

.colophon:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 845px) {
  .header-top .content {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2rem;
  }

  .header-top .header-top--links {
    margin-top: 0;
  }

  .subheader {
    display: -ms-flexbox;
    display: flex;
  }

  .subheader .subheader--tagline {
    padding: 2%;
  }

  .subheader .subheader--tagline div {
    width: 100%;
  }

  .menu li {
    display: inline;
    font-size: 1rem;
  }

  .left-content {
    box-sizing: border-box;
    width: 50%;
    float: left;
    border-right: 1px solid #E0E0E0;
    border-bottom: none;
    padding: 1.5rem 0;
  }

  .left-content i {
    margin-right: 1.4rem;
  }

  .left-content p > i {
    float: right;
    margin-right: 2rem;
  }

  .right-content {
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding-left: 1rem;
    padding-top: 1.5rem;
  }

  .company-content {
    box-sizing: border-box;
    width: 50%;
    float: right;
  }

  .company-content .company-content--summary,.company-content .compnay-content--contact {
    padding: 1.4rem 2.2rem;
  }
}

@media (min-width: 911px) {
  body {
    padding: 0;
  }

  .messaging {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem 3rem 2rem;
  }

  .messaging:after {
    content: " ";
    display: block;
    clear: both;
  }

  .messaging h1 {
    line-height: 1.1em;
  }

  .messaging .unstandard-ul {
    text-align: left;
    clear: both;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: 34%;
    padding: 1rem 0;
  }

  .messaging .unstandard-ul i {
    font-size: 1.25rem;
    display: inline;
  }

  .messaging .unstandard-ul li {
    padding: 0 0 1em 0;
  }

  .menu li {
    display: inline;
  }

  .menu li a {
    padding: 0 1.2rem;
    font-size: 1.3rem;
  }

  .menu .current:after {
    content: "";
    position: absolute;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 20px solid #003150;
    height: 0;
    width: 0;
    left: 45%;
    top: 40px;
  }

  .intro {
    padding: 5rem 0;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: auto;
  }

  .intro h3 {
    font-size: 2rem;
  }

  .intro-content {
    width: 70%;
    margin: auto;
  }

  .left-content {
    box-sizing: border-box;
    width: 50%;
    float: left;
    border-bottom: none;
    padding: 2rem 0 2rem 0;
  }

  .left-content i {
    margin-left: 1.5rem;
  }

  .left-content p > i {
    float: right;
    margin-right: 2rem;
  }

  .left-content .added-info {
    margin-right: 1.6rem;
  }

  .right-content {
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding: 2rem;
  }

  .right-content i {
    margin-left: 1rem;
  }

  .company-content {
    box-sizing: border-box;
    width: 50%;
    float: right;
    position: relative;
  }

  .company-content .company-content--summary,.company-content .compnay-content--contact {
    padding: 3.4rem 2.2rem;
  }
}

@media (min-width: 912px) and (max-width: 1051px) {
  .menu a {
    font-size: 1rem !important;
  }
}

/*# sourceMappingURL=main.css.map */
