body {
    font-feature-settings: "onum" 1;
    @include font(sans-serif);
    line-height: 1;
    text-rendering: optimizeLegibility;
    font-smooth: antialiased;
}
@supports (font-variant-numeric: oldstyle-nums) {
    body {
        font-feature-settings: normal;
        font-variant-numeric: oldstyle-nums;
    }
}

h1, h2, h3, h4 {
    @include font(serif);
    color: #333;
    font-weight: 400;
}

h4 {
    font-size: 1.45rem;
}

.bolded {
    font-weight: 500;
}