// colors
$green: rgb(150, 187, 50);
$lt-green: rgba(150, 187, 50, 0.25);
$blue: rgb(0, 49, 80);
$trans-blue: rgba(0, 49, 80, 0.75);
$trans-black: rgba(0, 0, 0, 0.15);



// site fonts
// examples: 
// @include font(serif, bold)
// @include font(sans-serif)

@mixin font($type, $weight: null) {
  @if $type == serif {
    font-family: 'PT Serif', serif;

    @if $weight == bold {
      font-weight: 700;
    } @else {
      font-weight: 400;
    }
  } @else if $type == sans-serif {
    font-family: 'Source Sans Pro', sans-serif;

    @if $weight == bold {
      font-weight: 700;
    } @else if $weight == light {
      font-weight: 300;
    } @else {
      font-weight: 400;
    }
  }
}


// Susy Grid
$susy: (
    columns: 12, 
    gutter-position: inside, 
    gutters: 0, 
    debug: (image: hide)
);

$medium: 845px;
$large: 911px;