@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Source+Sans+Pro:wght@400;700;900&display=swap');

@import "susy";
@import "variables";
@import "reset";
@import "typography";

// Dev Helper
div, main, footer, nav {
    //background: rgba(0, 0, 0, 0.05);
}

// Site
body {
    background: #FBFBFB;
    @include font(sans-serif);
    line-height: 1.45rem;
    color: #666;
    padding: 0 1em;
    @include susy-media($large) {
        padding: 0;
    }
}

// Header
header {
    float: left;
    width: 100%;
    clear: both;
    background: #FFFFFF;
    border-bottom: 12px solid $green;
}

.header-top {
    position: relative;


    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        padding: 2rem 0;

        @include susy-media($medium) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
        }

        &:after {
            display: none;
        }
    }
    

    .header-top--logo {
        display: inline-flex;
    }

    .header-top--links {
        display: inline-flex;
        margin-top: 0.5rem;

        @include susy-media($medium) {
            margin-top: 0;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
        }

        li {
            margin: 0 0 0 2rem;

            &:first-child {
                margin-left: 0;
            }
        }

        a {
            text-decoration: none;
            color: $blue;
            transition: .15s ease all;
            @include font(sans-serif);
            font-size: 17px;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            
            &:hover {
                color: $green;
            }
        }
    }
}


// Subheader
.subheader {
    display: block;
    @include susy-media($medium) {
        display: flex;
    }

    .subheader--image {
        flex: 1;
        width: 100%;
        min-height: 180px;
        background: url(../images/1919-line-dots.jpg);
        background-size: cover;
        background-position: center center;
    }

    .subheader--tagline {
        flex: 1;
        display: inline-flex;
        background: $blue;
        align-items: center;
        justify-content: center;
        padding: 6%;
        width: 100%;
        @include susy-media($medium) {
            padding: 2%;
        }

        div {
            background: #fff;
            padding: 24px;
            text-align: center;
            position: relative;
            @include susy-media($medium) {
                width: 100%;
            }
        }

        h2 {
            @include font(serif, bold);
            color: $blue;
            font-size: 1.5rem;
            padding: 0 0 0.5rem 0;
        }

        p {
            @include font(sans-serif);
            font-size: 1.15rem;
            line-height: 1.5rem;
        }
    }
}

.messaging {
    text-align: center;
    @include font(serif);
    color: #FFFFFF;
    padding: 0 .45rem;
    
    h1, h2 {
        color: #FFFFFF;
    }

    h1 {
        line-height: 1.1rem;
        font-size: 2.25rem;
        font-style: italic;
        padding-bottom: .45rem;
    }

    h2 {
        font-size: 1.5rem;
        padding: .5em 0 0 0;
        @include font(serif);
    }

    p {
        font-size: 1.3rem;
        font-style: normal;
        @include font(sans-serif, light);
        line-height: 1.5rem;
        @include span(10);
        @include pre(1);
    }
    .unstandard-ul {
        margin: auto;
        padding: 2rem 0;
        i {
            display: none;
            color: $green;
        }
        li {
            padding: 0 0 1rem 0;
            font-size: 1.4rem;
        }
    }
    @include susy-media($large) {
        @include container(1140px);
        padding: 2rem 2rem 3rem 2rem;
        h1 {
            line-height: 1.1em;
        }
        .unstandard-ul {
            text-align: left;
            clear: both;
            font-size: 1.5rem;
            font-style: italic;
            margin-left: 34%;
            padding: 1rem 0;
            i {
                font-size: 1.25rem;
                display: inline;
            }
            li {
                padding: 0 0 1em 0;
            }
        }
    }
}

.bolded {
    font-weight: 600;
}

.centered {
    text-align: center;
}

a.link {
    font-weight: 600;
    text-decoration: none;
    color: $blue;
    &:hover {
        text-decoration: underline;
    }
}

h4 a {
    color: #333;
    text-decoration: none;
}

// Navigation
.navigation {
    width: 100%;
    float: left;
    text-align: center;
    padding: 1.25rem 0;
}

.menu {
    li {
        border-right: 1px solid #7C94A4;
        position: relative;
        &:last-child {
            border-right: none;
        }
        a {
            color: $blue;
            text-decoration: none;
            padding: 0 .3rem;
            font-weight: 600;
        }
    }
    @include susy-media($medium) {
        li {
            display: inline;
            font-size: 1rem;
        }
    }

    @include susy-media($large) {
        li {
            display: inline;
            a {
                padding: 0 1.2rem;
                font-size: 1.3rem;
            }
        }
        .current:after {
            content: "";
            position: absolute;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            border-top: 20px solid $blue;
            height: 0;
            width: 0;
            left: 45%;
            top: 40px;
        }
    }

    @include susy-media(912px 1051px) {
        a {
            font-size: 1rem !important;
        }
    }
}

// Main
.main {
    width: 100%;
    float: left;
}

.content {
    @include container(1140px);
    padding: 0 1.5rem 3rem 1.5rem;
}

// Intro Section 
.intro {
    @include span(12);
    padding: 1rem 0 1.5rem 0;
    text-align: center;
    h3 {
        line-height: 2rem;
        color: $blue;
        padding: 1rem 0 1.65rem 0;
        font-size: 1.75rem;
        @include font(serif, bold);
    }
    p {
        line-height: 1.75rem;
        font-size: 1.1rem;
    }
    border-bottom: 1px solid #E0E0E0;
    @include susy-media($large) {
        padding: 5rem 0;
        @include span(12);
        margin: auto;
        h3 {
            font-size: 2rem;
        }
    }
}

.intro-content {
    @include susy-media($large) {
        width: 70%;
        margin: auto;
    }
}

// Left Content

.left-content {
    @include span(12);
    padding: 1em 0;
    border-bottom: 1px solid #E0E0E0;
    p a {
        color: #333;
        text-decoration: none;
    }
    i {
        float: right;
    }
    @include susy-media($medium) {
        @include span(6);
        border-right: 1px solid #E0E0E0;
        border-bottom: none;
        padding: 1.5rem 0;
        i {
            margin-right: 1.4rem;
        }
        p > i {
            float: right;
            margin-right: 2rem;
        }
    }

    @include susy-media($large) {
        @include span(6);
        border-bottom: none;
        padding: 2rem 0 2rem 0;
        i {
            margin-left: 1.5rem;
        }
        p > i {
            float: right;
            margin-right: 2rem;
        }
        .added-info {
            margin-right: 1.6rem;
        }
    }
}

// Right Content

.right-content {
    @include span(12);
    padding: 1rem 0;
    i {
        float: right;
    }
    @include susy-media($medium) {
        @include span(last 6);
        padding-left: 1rem;
        padding-top: 1.5rem;
    }

    @include susy-media($large) {
        @include span(6 last);
        padding: 2rem;
        i {
            margin-left: 1rem;
        }
    }
}

.company-content {
    @include span(12);
    padding: 0;
    color: $blue;
    @include susy-media($medium) {
        @include span(last 6);
    }

    @include susy-media($large) {
        @include span(6 last);
        position: relative;
    }

    .company-content--summary,
    .compnay-content--contact {
        padding: 1.75rem 2.2rem;
        @include susy-media($medium) {
            padding: 1.4rem 2.2rem;
        }

        @include susy-media($large) {
            padding: 3.4rem 2.2rem;
        }  
    }

    .company-content--summary {
        background: $lt-green;
        font-size: 1.1rem;
        font-style: italic;
    }

    .compnay-content--contact {    
        h3, h4, a {
            @include font(sans-serif);
            color: $blue;
        }

        h3 {
            font-size: 1.25rem;
            font-weight: 600;
        }

        h4 {
            font-size: 1.1rem;
            font-weight: 600;
            margin-top: 0.75rem;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Fund Info Section 
.fund-info {
    @include span(12);
    border-bottom: 1px solid #E0E0E0;
}

#additional-info-box {
    border-right: none !important;
    h4 {
        padding: 0 0 1.25rem 0;
    }
}

// Company Summary Section
.white-popup {
    position: relative;
    background: #fff;
    padding: 20px;
    min-height: 300px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}

.warning-popup {
    h5 {
        @include font(sans-serif, bold);
        font-size: 2rem;
        padding: 1.25rem 0;
        line-height: 2rem;
        color: #003150;
    }
    p {
        font-size: 1.2rem;
        color: #666;
        line-height: 1.5rem;
        &:nth-of-type(2) {
            padding-bottom: 1rem;
        }
    }
    .button {
        background-color: $green;
        border: none;
        color: white;
        padding: 1rem 2rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        &:hover {
            background-color: $blue;
        }
    }
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

// Disclosure Section 
.disclosure {
    @include span(full);
    padding: 2rem 0;
    font-weight: normal;
    font-size: 0.9rem;
    h4 {
        padding: 0 0 1rem 0;
    }
    p {
        padding: .5rem 0;
    }
}

// Footer 
footer {
    width: 100%;
    float: left;
    background: #3C3C3C;
    padding: 1.5em 0;
    font-size: .85rem;
}

.colophon {
    @include container(1140px);
    text-align: center;
    color: #D4D4D4;
}