﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The web site is under construction</title>
<style type="text/css">
	BODY { color: #444444; background-color: #E5F2FF; font-family: verdana; margin: 0px; }
	#PageOutline { text-align: center; margin-top: 300px; }
	A { color: #0153A4; }
	H1 { font-size: 16pt; margin-bottom: 4px; }
	H2 { font-size: 14pt; margin-bottom: 4px; font-weight: normal; }
</style>
</head>
<body>
<div id="PageOutline">
	<h1>This web site has just been created and it is still under construction.</h1>
	<!-- <h2>The web site is hosted by <a href="http://www.pointclick.net">PointClick Technologies, LLC.</a>.</h2> -->
</div>
</body>
</html>